<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <table class="bordered">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Логин</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <td th:text="|${user.getName()}|"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getLogin()}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>