<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Реестр пользователей</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>

    <script th:src="@{/static/lib/floatThead/jquery.floatThead.min.js}"></script>
    <script th:src="@{/static/js/filter.js}"></script>
</head>
<body>
<header th:replace="fragments/header :: header(users, admin)"></header>

<div class="col s12 main-container">
    </form>s="table-area">
        <table class="bordered">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Логин</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="user : ${page}">
                <td th:text="|${user.getName()}|"></td>
                <td th:text="${user.login}"></td>

            </tr>
            </tbody>
        </table>
        <div class="col s6 no-padding page-info">
            <div sd:pagination-summary="">info</div>
        </div>
    </div>
    <div th:replace="fragments/pagination :: pagination"></div>
</div>

</body>
</html>